<mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile class="mat-grid-spacer" colspan="1" rowspan="5">placeholder</mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="2">
    <mat-grid-tile-footer>Inventory status</mat-grid-tile-footer>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="3">
    <mat-grid-tile-footer>Maintenance status</mat-grid-tile-footer>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="2">
    <mat-grid-tile-footer>Data display</mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>
