<div class="grid-wrapper">
  <app-dataitem text="Temperatur" value="25.0" src="../../../assets/images/P.png"></app-dataitem>
  <app-dataitem text="Humidity" value="60.0" src="../../../assets/images/P.png"></app-dataitem>
  <app-dataitem text="Produced" value="0.0" src="../../../assets/images/P.png"></app-dataitem>
  <app-dataitem text="Batch ID" value="0.0" src="../../../assets/images/P.png"></app-dataitem>
  <app-dataitem text="Vibration" value="0.0" src="../../../assets/images/P.png"></app-dataitem>
  <app-dataitem text="Amount to produce" value="0.0" src="../../../assets/images/P.png"></app-dataitem>
  <app-dataitem text="Amount per minute" value="0.0" src="../../../assets/images/P.png"></app-dataitem>
  <app-dataitem text="Acceptable products" value="0.0" src="../../../assets/images/P.png"></app-dataitem>
  <app-dataitem text="Defect products" value="0.0" src="../../../assets/images/P.png"></app-dataitem>
</div>
